{% extends "layout.html" %}
{% block title %}Abroad{% endblock %}
{% block abroad_active %}active{% endblock %}

{% block last_update %} Last update: {{ time[0][0] }} UTC {% endblock %}

{% block content %}
<table class="table table-dark align-middle">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Player</th>
            <th scope="col">Status</th>
            <th scope="col">Country</th>
        </tr>
    </thead>
    <tbody>
        {% set count = namespace(value=1) %}
        {% for item in range(names | length) %}
        <tr>
            <th scope="row">
                {{ count.value }}
                {% set count.value = count.value + 1 %}
            </th>
            <td><a href="https://www.torn.com/profiles.php?NID={{names[item]}}" target="_blank">{{ names[item] }}</a></td>
            <td>{{ status[item] }}</td>
            <td>
                {% if "Africa" in status[item] or "African" in status[item]%}
                <img src="/static/images/south-africa.png" style="width: 35px; height: 35px;" />
                {% endif %}

                {% if "UAE" in status[item] or "Emiratii" in status[item]%}
                <img src="/static/images/united-arab-emirates.png" style="width: 35px; height: 35px;" />
                {% endif %}

                {% if "Kingdom" in status[item] or "British" in status[item]%}
                <img src="/static/images/united-kingdom.png" style="width: 35px; height: 35px;" />
                {% endif %}

                {% if "Argentina" in status[item] or "Argentinian" in status[item] %}
                <img src="/static/images/argentina.png" style="width: 35px; height: 35px;" />
                {% endif %}

                {% if "Canada" in status[item] or "Canadian" in status[item] %}
                <img src="/static/images/canada.png" style="width: 35px; height: 35px;" />
                {% endif %}

                {% if "Cayman" in status[item] or "Caymanian" in status[item] %}
                <img src="/static/images/cayman-islands.png" style="width: 35px; height: 35px;" />
                {% endif %}

                {% if "China" in status[item] or "Chinese" in status[item]%}
                <img src="/static/images/china.png" style="width: 35px; height: 35px;" />
                {% endif %}

                {% if "Hawaii" in status[item] or "Hawaian" in status[item]%}
                <img src="/static/images/hawaii.png" style="width: 35px; height: 35px;" />
                {% endif %}

                {% if "Japan" in status[item] or "Japanese" in status[item] %}
                <img src="/static/images/japan.png" style="width: 35px; height: 35px;" />
                {% endif %}

                {% if "Mexico" in status[item] or "Mexican" in status[item] %}
                <img src="/static/images/mexico.png" style="width: 35px; height: 35px;" />
                {% endif %}

                {% if "Switzerland" in status[item] or "Swiss" in status[item] %}
                <img src="/static/images/switzerland.png" style="width: 35px; height: 35px;" />
                {% endif %}

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}