{% extends "layout.html" %}
{% block title %}Leaderboard{% endblock %}
{% block leaderboard_active %}active{% endblock %}
{% block content %}

{% block last_update %} Last update: {{ time[0][0] }} UTC {% endblock %}

<center>
    <form action="" method="post">
        <p style="color:cadetblue;">
            Torn ID:<input type="text" name="torn_id" />
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </p>
    </form>
</center>


<table class="table table-dark align-middle table-bordered">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Player</th>
            <th scope="col">Mexico <img src="/static/images/mexico.png" style="width: 35px; height: 35px;" /></th>
            <th scope="col">Cayman Islands <img src="/static/images/cayman-islands.png" style="width: 35px; height: 35px;" /></th>
            <th scope="col">Canada <img src="/static/images/canada.png" style="width: 35px; height: 35px;" /></th>
            <th scope="col">Hawaii <img src="/static/images/hawaii.png" style="width: 35px; height: 35px;" /></th>
            <th scope="col">United Kingdom <img src="/static/images/united-kingdom.png" style="width: 35px; height: 35px;" /></th>
            <th scope="col">Argentina <img src="/static/images/argentina.png" style="width: 35px; height: 35px;" /></th>
            <th scope="col">Switzerland <img src="/static/images/switzerland.png" style="width: 35px; height: 35px;" /></th>
            <th scope="col">Japan <img src="/static/images/japan.png" style="width: 35px; height: 35px;" /></th>
            <th scope="col">China <img src="/static/images/china.png" style="width: 35px; height: 35px;" /></th>
            <th scope="col">United Arab Emirates <img src="/static/images/united-arab-emirates.png" style="width: 35px; height: 35px;" /></th>
            <th scope="col">South Africa <img src="/static/images/south-africa.png" style="width: 35px; height: 35px;" /></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ p_id }}</td>
            <td><a href="https://www.torn.com/profiles.php?NID={{p_name}}" target="_blank">{{ p_name }}</a></td>
            <td>{{ p_mexico }}</td>
            <td>{{ p_ci }}</td>
            <td>{{ p_canada }}</td>
            <td>{{ p_hawaii }}</td>
            <td>{{ p_uk }}</td>
            <td>{{ p_argentina }}</td>
            <td>{{ p_switzerland }}</td>
            <td>{{ p_japan }}</td>
            <td>{{ p_china }}</td>
            <td>{{ p_uae }}</td>
            <td>{{ p_sa }}</td>
        </tr>

    </tbody>
</table>

{% endblock %}