{% extends "layout.html" %}
{% block title %}Foreign Stock{% endblock %}
{% block stock_active %}active{% endblock %}

{% block content %}
<center>
    <div class="row">
        <h2 style="color:aliceblue;">Entries updated every 1 minute.</h2>
        <div class="table-responsive col-sm-6">
            <table class="table table-bordered table-striped table-dark" style="color:aliceblue;">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Flower</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Country</th>
                        <th scope="col">Last Update</th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr>
                        <td>Test</td>
                        <td>Test</td>
                        <td>@Test</td>
                    </tr>
                    <tr>
                        <td>Test</td>
                        <td>Test</td>
                        <td>@Test</td>
                    </tr>
                </tbody>

            </table>
        </div>
        
        <div class="table-responsive col-sm-6">

            <table class="table table-bordered table-striped table-dark" style="color:aliceblue;">

                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Plushie</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Country</th>
                        <th scope="col">Last Update</th>
                    </tr>
                </thead>
                
                <tbody>

                    <tr>
                        <td>Test</td>
                        <td>Test</td>
                        <td>Test</td>
                    </tr>

                    <tr>
                        <td>Test</td>
                        <td>Test</td>
                        <td>Test</td>
                    </tr>

                </tbody>

            </table>

        </div>
    </div>
</center>
{% endblock %}